@import '/styles/vars';
@import '/styles/boxes';

.c_footer {
  gap: $gap;

  .c_blocks {
    display: grid;
    gap: $gap;

    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .c_network {
      align-items: center;

      .networks {
        display: flex !important;
        flex-wrap: wrap;
        gap: calc(#{$gap} / 2);
        justify-content: space-evenly;

        div {
          white-space: nowrap;
          width: min-content;
          display: grid;
          grid-template-columns: 20px auto;
          gap: calc(#{$gap} / 2);
          align-items: center;

          svg {
            align-items: center;
            width: 20px;
          }
        }
      }

      @include box;
    }

    .c_address {
      align-items: center;
      text-align: center;

      p {
        margin: 0;
      }

      @include box;
    }
  }

  // @include box;
}

.c_copyright {
  display: grid;
  justify-content: center;
  line-height: $pad;
  margin: $pad;

  p,
  a {
    margin: 0;
    text-align: center;
  }
}
