@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '/styles/vars';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 2rem;
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(#e1aead 2px, transparent 2px), radial-gradient(#e1aead 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dancing Script', cursive;
}

h3 {
  margin: 0 0 $pad 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
